@font-face {
  font-family: 'CinzelDec';
  src: url('../fonts/CinzelDecorative-Regular.ttf') format('truetype');
}


.playlists-page {
  padding: 2rem;
  color: #fff;
  font-family: 'CinzelDec';
}

.playlists-title {
  text-align: center;
  margin-bottom: 2rem;
}

.playlists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.playlist {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 8px;
}

.playlist-genre {
  margin-bottom: 1rem;
  text-align: center;
}

.videos-scroll::-webkit-scrollbar { /* Chrome, Safari, Edge */
  display: none;
}

.videos-scroll {
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge Legacy */
}



.videos-scroll img {
  width: 100%;
  border-radius: 4px;
}

