@font-face {
    font-family: 'BAHNSCHRIFT';
    src: url('../fonts/BAHNSCHRIFT-6.TTF') format('truetype');
    font-family: 'GrenzeGotisch-VariableFont_wght';
    src: url('../fonts/BAHNSCHRIFT-6.TTF') format('truetype');
    src: url('../fonts/GrenzeGotisch-VariableFont_wght.ttf') format('truetype');
    
  }

  .affix-header {
    background-color: transparent;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'BAHNSCHRIFT';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    .affix-header {
      font-size: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
  }