.dungeon-breakdown-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .member-dungeons {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add some padding */
  }
  
  .member-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  
  .dungeon-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 5px 0;
    
  }
  
  .dungeon-name,
  .fdungeon-name,
  .tdungeon-name {
    color: white;
    text-align: center;
    justify-self: center; /* Align horizontally */
  }
  
  .dungeon-level,
  .fdungeon-level,
  .tdungeon-level {
    color: white;
    text-align: center;
    justify-self: center; /* Align horizontally */
  }
  
  .dungeon-time {
    color: white;
  }
  
  .dungeon-breakdown-title {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    border-radius: 15px;
  }
  
  .run-types {
    display: flex;
    justify-content: space-between;
  }
  
  .main-runs,
  .alternate-runs {
    width: 45%;
  }
  
  .tyrannical-runs,
  .fortified-runs {
    color: white;
    text-align: center; /* Align text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align children vertically */
  }

  .dungeon-breakdown-container {
    padding-bottom: 20px; /* Change this value according to your needs */
  }

  .highlight {
    background-color: rgb(88, 113, 160);
  }